In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('project.db')

# Write the SQL query to list all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query and fetch the results
cursor = conn.cursor()
cursor.execute(query)
tables = cursor.fetchall()

# Print the list of tables
for table in tables:
    print(table[0])

# Close the connection
conn.close()

city
countrylanguage
country

In [5]:
conn = sqlite3.connect('project.db')

query = "SELECT * FROM city limit 5;"

df = pd.read_sql_query(query, conn)

print(df)

conn.close()

                                  name countrycode              district  \
0  Kabul                                       AFG  Kabol
1  Qandahar                                    AFG  Qandahar
2  Herat                                       AFG  Herat
3  Mazar-e-Sharif                              AFG  Balkh
4  Amsterdam                                   NLD  Noord-Holland

   population
0     1780000
1      237500
2      186800
3      127800
4      731200

In [8]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

# Write the SQL query
query = "SELECT * FROM country limit 5"

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

  code                                               name  \
0  ABW  Aruba                                         ...
1  AFG  Afghanistan                                   ...
2  AGO  Angola                                        ...
3  AIA  Anguilla                                      ...
4  ALB  Albania                                       ...

                                           continent  \
0  North America                                 ...
1  Asia                                          ...
2  Africa                                        ...
3  North America                                 ...
4  Europe                                        ...

                       region  surfacearea  indepyear  population  \
0  Caribbean                         193.0        NaN      103000
1  Southern and Central Asia      652090.0     1919.0    22720000
2  Central Africa                1246700.0     1975.0    12878000
3  Caribbean                          96.0        NaN        8000
4  Southern Europe                 28748.0     1912.0     3401200

   lifeexpectancy     gnp  gnpold  \
0            78.4   828.0   793.0
1            45.9  5976.0     NaN
2            38.3  6648.0  7984.0
3            76.1    63.2     NaN
4            71.6  3205.0  2500.0

                                       localname  \
0  Aruba
1  Afganistan/Afqanestan
2  Angola
3  Anguilla
4  Shqipëria

                                  governmentform  \
0  Nonmetropolitan Territory of The Netherlands
1  Islamic Emirate
2  Republic
3  Dependent Territory of the UK
4  Republic

                                         headofstate  capital code2
0  Beatrix                                       ...    129.0    AW
1  Mohammad Omar                                 ...      1.0    AF
2  José Eduardo dos Santos                       ...     56.0    AO
3  Elisabeth II                                  ...     62.0    AI
4  Rexhep Mejdani                                ...     34.0    AL