# Connect to the database and list the tables

In [3]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query to list all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query and fetch the results
cursor = conn.cursor()
cursor.execute(query)
tables = cursor.fetchall()

# Print the list of tables
for table in tables:
    print(table[0])

# Close the connection
conn.close()

city
countrylanguage
country

# List the column names in each table

In [4]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')
cursor = conn.cursor()

# Retrieve the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# For each table, retrieve the column names
for table in tables:
    table_name = table[0]
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    print(f"Table: {table_name}")
    for column in columns:
        print(f" - {column[1]}")
    print()

# Close the connection
conn.close()

Table: city
 - name
 - countrycode
 - district
 - population

Table: countrylanguage
 - countrycode
 - language
 - isofficial
 - percentage

Table: country
 - code
 - name
 - continent
 - region
 - surfacearea
 - indepyear
 - population
 - lifeexpectancy
 - gnp
 - gnpold
 - localname
 - governmentform
 - headofstate
 - capital
 - code2

# List 5 cities from the city table

In [5]:
conn = sqlite3.connect('project.db')

query = "SELECT * FROM city limit 5;"

df = pd.read_sql_query(query, conn)

print(df)

conn.close()

                                  name countrycode              district  \
0  Kabul                                       AFG  Kabol
1  Qandahar                                    AFG  Qandahar
2  Herat                                       AFG  Herat
3  Mazar-e-Sharif                              AFG  Balkh
4  Amsterdam                                   NLD  Noord-Holland

   population
0     1780000
1      237500
2      186800
3      127800
4      731200

# List the countries in descending order by the number of languages

In [6]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query 
query = "SELECT country.Name AS Name, COUNT(countrylanguage.Language) AS LanguageCount FROM country, countrylanguage WHERE country.Code = countrylanguage.CountryCode GROUP BY country.Name ORDER BY LanguageCount Desc;"

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

                                                  Name  LanguageCount
0    United States                                 ...             12
1    Russian Federation                            ...             12
2    India                                         ...             12
3    China                                         ...             12
4    Canada                                        ...             12
..                                                 ...            ...
228  Cuba                                          ...              1
229  Cayman Islands                                ...              1
230  Bosnia and Herzegovina                        ...              1
231  Bermuda                                       ...              1
232  Anguilla                                      ...              1

[233 rows x 2 columns]

# List the number of cities in the USA

In [7]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query to find the number of cities in the USA
query = " SELECT COUNT(*) AS number_of_cities FROM city JOIN country ON country.code = city.countryCode WHERE country.code = 'USA';"
# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the number of cities in the USA
print(df)

# Close the connection
conn.close()

   number_of_cities
0               274

# What country has the highest life expectancy?

In [8]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query 
query = "SELECT NAME,lifeExpectancy FROM country ORDER BY lifeExpectancy DESC LIMIT 1 ;"

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

                                                name  lifeexpectancy
0  Andorra                                       ...            83.5

# What country has the lowest life expectancy?

In [4]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query 
query = "SELECT NAME,lifeExpectancy FROM country WHERE lifeExpectancy IS NOT NULL ORDER BY lifeExpectancy ASC LIMIT 1 ;"

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

                                                name  lifeexpectancy
0  Zambia                                        ...            37.2

# Add the country Wakanda to the database and then check Wakanda's population

In [17]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query to add the country Wakanda to the continent Africa
query = """
INSERT INTO country (code, name, continent, region, population, lifeExpectancy, capital)
VALUES ('WAK', 'Wakanda', 'Africa', 'Sub-Saharan Africa', 1000000, 75.0, NULL);
"""

# Execute the query
conn.execute(query)

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

In [19]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

# The SQL query to find the population of Wakanda
query = """
SELECT population
FROM country
WHERE name = 'Wakanda';
"""

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the result
print(df)

# Close the connection
conn.close()

   population
0     1000000

# Update Wakanda's life expectancy

In [20]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query to update Wakanda's life expectancy
query = """
UPDATE country
SET lifeExpectancy = 80.0
WHERE name = 'Wakanda';
"""

# Execute the query
conn.execute(query)

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

# Check that the life expectancy has changed by querying the database

In [21]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

#  SQL query to find the life expectancy of Wakanda
query = """
SELECT lifeExpectancy
FROM country
WHERE name = 'Wakanda';
"""

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the result
print(df)

# Close the connection
conn.close()

   lifeexpectancy
0            80.0

In [ ]:
print("All errors are Philip's fault!")